.bricks-input {
    &_md {
        font-size: 13px;
        line-height: 20px;
        padding: 4px 7px;
    }

    &_lg {
        font-size: 14px;
        line-height: 24px;
        padding: 5px 9px;
    }

    &_xl {
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        padding: 5px 9px;
    }
}