.bricks-tooltip {
    display: inline-block;
    box-sizing: border-box;
    touch-action: manipulation;
    position: relative;

    * {
        box-sizing: border-box;
    }
}

.bricks-tooltip {
    &__body {
        position: absolute;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 20px;
        color: $bricks-ut;
        background-color: $bricks-super-light;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba($bricks-ut, .3);
        opacity: 1;
        transition: opacity .3s;
        white-space: pre;
        z-index: 100;

        &::after {
            content: '';
            position: absolute;
            width: 0; 
            height: 0; 
        }
    }
}