.bricks-icon {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
    touch-action: manipulation;
    padding: 4px; 

    svg {
        transform: translateZ(0);
    }
}