.bricks-tooltip{

    &_hidden {
        .bricks-tooltip__body {
            visibility: hidden;
            opacity: 0.1;
        }
    }

    &__body_right {
        left: 100%;
        top: 50%;
        transform: translateX(9px) translateY(-50%);

        &::after {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 9px solid $bricks-super-light;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
        }
    }

    &__body_left {
        right: 100%;
        top: 50%;
        transform: translateX(-9px) translateY(-50%);

        &::after {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 9px solid $bricks-super-light;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
        }
    }

    &__body_top {
        right: 50%;
        transform: translateX(50%) translateY(-9px);
        bottom: 100%;

        &::after {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 9px solid $bricks-super-light;
            top: 100%;
            transform: translateX(-50%);
            left: 50%;
        }
    }

    &__body_bottom {
        right: 50%;
        transform: translateX(50%) translateY(9px);
        top: 100%;

        &::after {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 9px solid $bricks-super-light;
            bottom: 100%;
            transform: translateX(-50%);
            left: 50%;
        }
    }
}